@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-swanky);
  }

  :root {
    --background: 240 0% 90%;
    --foreground: 37.1 57.3% 42%;
    --card: 240 0% 90%;
    --card-foreground: 37.1 57.3% 42%;
    --popover: 240 0% 90%;
    --popover-foreground: 37.1 57.3% 42%;
    --primary: 338.2 0% 10%;
    --primary-foreground: 340 0% 90%;
    --secondary: 270 0% 90%;
    --secondary-foreground: 37.1 57.3% 72%;
    --muted: 270 0% 82%;
    --muted-foreground: 37.1 57.3% 72%;
    --accent: 270 0% 82%;
    --accent-foreground: 37.1 57.3% 62%;
    --destructive: 0 90% 28.200000000000003%;
    --destructive-foreground: 37.1 57.3% 42%;
    --border: 37.1 57.3% 72%;
    --input: 37.1 57.3% 72%;
    --ring: 338.2 0% 10%;
    --radius: 0.5rem;
    --chart-1: 338.2 0% 80%;
    --chart-2: 270 0% 40%;
    --chart-3: 270 0% 48%;
    --chart-4: 270 0% 58%;
    --chart-5: 338.2 0% 80%;
    
    --sidebar-background: 0 0% 87%;
    --sidebar-foreground: 37 57% 25%;
    --sidebar-primary: 0 0% 50%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 0 0% 79%;
    --sidebar-accent-foreground: 37 57% 0%;
    --sidebar-border: 37 57% 69%;
    --sidebar-ring: 0 0% 7%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 37.1 67.3% 58%;
    --card: 240 10% 3.9%;
    --card-foreground: 37.1 67.3% 58%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 37.1 67.3% 58%;
    --primary: 338.2 0% 100%;
    --primary-foreground: 340 0% 8.6%;
    --secondary: 270 4.3% 9%;
    --secondary-foreground: 37.1 67.3% 28%;
    --muted: 270 2.2% 18%;
    --muted-foreground: 37.1 67.3% 28%;
    --accent: 270 2.2% 18%;
    --accent-foreground: 37.1 67.3% 38%;
    --destructive: 0 100% 71.8%;
    --destructive-foreground: 37.1 67.3% 58%;
    --border: 37.1 67.3% 28%;
    --input: 37.1 67.3% 28%;
    --ring: 338.2 0% 100%;
    --radius: 0.5rem;
    --chart-1: 338.2 0% 100%;
    --chart-2: 270 4.3% 9%;
    --chart-3: 270 2.2% 18%;
    --chart-4: 270 2.2% 28%;
    --chart-5: 338.2 0% 110%;
    
    --sidebar-background: 0 0% 0%;
    --sidebar-foreground: 37 67% 44%;
    --sidebar-primary: 0 0% 25%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 270 2% 10%;
    --sidebar-accent-foreground: 37 67% 100%;
    --sidebar-border: 37 67% 20%;
    --sidebar-ring: 0 0% 92%;
  }
}

/* Hide scrollbars */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

